[submodule "private/opencode"]
	path = private/opencode
	url = git@github.com:luxass/opencode-private.git
	branch = main
[submodule "private/pi"]
	path = private/pi
	url = git@github.com:luxass/pi-private.git
	branch = main
